@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img,
picture {
  width: 100%;
}

picture img{
  display: block;
}

ul {
  list-style: none;
}


:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

.hidden {
  display: none;
}

/* LAYOUT */

body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  background-color: var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  width: 100%;
  height: 100%;

}
