@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img,
picture {
  width: 100%;
}

picture img {
  display: block;
}

ul {
  list-style: none;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

.hidden {
  display: none;
}

/* LAYOUT */
body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  background-color: var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

/* HEADER*/
header {
  width: 100%;
  height: 4rem;
  margin: auto;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ham-menu {
  cursor: pointer;
}

@media (min-width: 768px) {
  #ham-menu {
    display: none;
  }
}
/* MOBILE NAV */
.mobile-nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 60vw;
  height: 100vh;
  background-color: var(--off-white);
}
.mobile-nav .close-wrapper {
  padding: 4rem 2rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mobile-nav .close-wrapper #close-icon {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 2rem;
  gap: 3rem;
  margin-top: 6rem;
}
.mobile-nav li {
  width: 100%;
  text-align: left;
}

/* DESKTOP NAV */
.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
    align-items: center;
  }
  .desktop-nav ul {
    display: flex;
    gap: 6rem;
  }
  .desktop-nav ul li {
    cursor: pointer;
  }
}
/* MAIN */
main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(2, 1fr);
  }
}
/* FIRST SECTION */
.first-section article {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.first-section h1 {
  font-size: 4rem;
  font-weight: 800;
}
.first-section p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--dark-grayish-blue);
}
.first-section button {
  width: 50%;
  height: 3.5rem;
  background-color: var(--soft-red);
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--off-white);
  font-weight: 400;
}

@media (min-width: 768px) {
  .first-section {
    grid-column: 1/3;
  }
  .first-section .article-wrapper {
    display: flex;
  }
  .first-section .article-wrapper .title {
    width: 50%;
    align-self: center;
  }
  .first-section .article-wrapper .body {
    width: 50%;
    justify-self: flex-start;
  }
}
/* SECOND SECTION */
.second-section {
  background-color: var(--very-dark-blue);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50rem;
}
.second-section h2 {
  color: var(--soft-orange);
}
.second-section article h4 {
  color: var(--off-white);
  margin-bottom: 0.5rem;
}
.second-section article p {
  color: var(--dark-grayish-blue);
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .second-section {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
/* THIRD SECTION */
.third-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.third-section article {
  display: flex;
  gap: 2rem;
  min-height: 127px;
}
.third-section article .article-image {
  width: 100px;
  min-height: 127px;
}
.third-section article .article-wrapper {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.third-section article h3 {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
}
.third-section article h4 {
  font-size: 1.2rem;
  font-weight: 700;
}
.third-section article p {
  font-size: 1rem;
  line-height: 2;
}

@media (min-width: 768px) {
  .third-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
    grid-template-rows: 127px;
  }
  .third-section .article-01 {
    grid-column: 1/2;
    max-height: 127px;
  }
  .third-section .article-02 {
    grid-column: 2/3;
  }
  .third-section .article-03 {
    grid-column: 3/4;
  }
}

/*# sourceMappingURL=index.css.map */
